/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.navbar{
  background-color: #2c2f3f;
}

/*--------------------------------------------------------------
# Home
--------------------------------------------------------------*/

#Home {
    background-image: url('../assets/images/hero_page.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Home h1 {
    margin: 0 0 10px 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
    padding-bottom: 50px;
}

#Home .list-group-home-item {
    color: #fff;
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: .5rem;
    font-family: "Poppins", sans-serif;
    padding-bottom: 4px;
    letter-spacing: 1px;
    border-bottom: 3px solid #149ddd;
    list-style: none;
}

section {
    padding: 60px 0;
    overflow: hidden;
  }

.section-bg {
    background: #f5f8fd;
  }


.section-title {
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #173b6c;
    border-bottom: 3px solid #149ddd;
  }

.section-title p {
    margin-bottom: 0;
  }

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

#about ul {
    list-style: none;
    padding: 0;
}

#about .content ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

#about .content ul strong {
    margin-right: 10px;
  }

.svg {
    font-size: 16px;
    margin-right: 5px;
    line-height: 0;
}
/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
.skill {
  display: flex;
  flex-direction: column;
}

.skill-header {
  display: flex;
  justify-content: space-between;
  padding: 0;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #050d18;
  font-style: normal;
  font-size: x-small;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #149ddd;
}

.skills .progress {
  height: 30px;
  display: block;
  background: none;
  border-radius: 0;
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
#resume .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #050d18;
  }
  
#resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #1f5297;
  position: relative;
}

#resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #050d18;
  margin-bottom: 10px;
}

#resume .resume-item h5 {
  font-size: 16px;
  background: #e4edf9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

#resume .resume-item ul {
  padding-left: 20px;
}

#resume .resume-item ul li {
  padding-bottom: 10px;
}

#resume .resume-item:last-child {
  padding-bottom: 0;
}

#resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #1f5297;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.container-footer {
  background-color: #2c2f3f;
  padding: 50px 0 20px;
  text-align: center;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

#footer{
  padding: 0;
}

.footer-link {
  color: #fff !important;
  margin: 10px 20px;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}



  